<div class="card">
  <div class="card-body">

    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title">NGX Pagination</h5>
      </div>
      <div>
        <div class="form-group form-inline">
          <label class="control-label" for="noOfRows">No. of Rows</label>
          <select name="noOfRows" (change)="onTableSizeChange($event)" class="form-control form-control-sm">
            <option *ngFor="let size of tableSize" [ngValue]="size">
              {{ size }}
            </option>
          </select>
      </div>

      </div>
    </div>
    <!-- #variable aka template variable -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Firt Name</th>
          <th>Last Name</th>
          <th>Birth Date</th>
          <th>Mobile Number</th>
          <th>Email</th>
          <th>Registration Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tr *ngFor="let customer of customers | paginate : pagingConfig; let i = index;">

        <!-- <tr *ngFor="let customer of customers"> -->
        <td>{{ customer.id }}</td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.birthday | date : 'MMMM dd,yyyy' }}</td>
        <td>{{ customer.mobileNumber }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.createdOn | date : 'MM/dd/yyyy' }}</td>
        <td>
          <a  [routerLink]="['/reactiveforms',customer.id,'edit']"  class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edit</a>
        </td>

      </tr>

    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
    <!-- responsive=true -->


  </div>
</div>
